body {
  color: #5f5f5f;
  font-size: 1.4em;
  line-height: 1.6;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
  background: #f0efef url(./paper.jpg) top center repeat;
  background-size: 1600px 2300px;
  font-family: "Bricolage Grotesque", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.25s ease;
}

a[onclick]:not([href]) {
  cursor: pointer;
}

.btn-lg.ab-impact {
  font-size: 1.6em;
  padding: 0.6em 1em;
}

#hero {
  padding: 48px 0 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ab-heading,
#hero-description {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 6px 16px rgba(0, 0, 0, 0.04);
  margin: 0;
}

.ab-heading {
  color: #2b2b2b;
  letter-spacing: -0.05em;
  line-height: 1.2;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.ab-impact {
  font-family: "Inter", sans-serif;
  line-height: 0.875;
  font-weight: 800;
  text-transform: uppercase;
}

h1.ab-heading {
  font-size: 5em;
}

h2.ab-heading {
  font-size: 3em;
}

@media (max-width: 650px) {
  body {
    font-size: 1.2em;
  }
  h1.ab-heading {
    font-size: 2.5em;
  }
  h2.ab-heading {
    font-size: 1.8em;
  }
  .btn-lg.ab-impact {
    font-size: 1.2em;
  }
}

.ab-heading a {
  text-decoration: none;
}

.ab-heading a:hover {
  text-decoration: underline;
}

.ab-heading span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

#hero-description {
  color: #838383;
  font-size: 1.6em;
  line-height: 1.4;
}

#hero-description a {
  color: #5c83ee;
  text-decoration: none;
}

#hero-description a:hover {
  color: #10182f;
}

#hero-description span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

#how-it-works h3 {
  margin: 1em 0 0.5em;
  line-height: 1.4;
}

#how-it-works h3 {
  font-weight: bold;
  font-size: 1.1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #545454;
}

#how-it-works img,
.frame {
  border-radius: 0.375rem;
}

.frame {
  box-shadow: 0rem 0.25rem 0.75rem 0rem rgba(0, 0, 0, 0.051);
  background-color: white;
  padding: 12px;
  margin: 12px auto;
  max-width: 600px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--flex-alignment);
  letter-spacing: 0;
  padding: 0;
}

.icons li {
  position: relative;
  z-index: 1;
}

.icons li a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icons li a svg {
  display: block;
  position: relative;
}

.icons li a + svg {
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.icons li a .label {
  display: none;
}

#icons01 {
  font-size: 1.375em;
  gap: 1rem;
}

#icons01 li a {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons01 li a svg {
  height: 60%;
  width: 60%;
  transition: fill 0.25s ease;
}

#icons01 a {
  background-color: #2b2b2b;
}

#icons01 a svg {
  fill: #ffffff;
}

#icons01 li a + svg {
  transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

#icons01 li a:hover {
  transform: translateY(-11.25%);
}

#icons01 li a:hover + svg {
  transform: translateY(-11.25%);
}

@media (orientation: portrait) {
  .gallery-modal {
    grid-template-areas: "image" "caption";
    grid-template-columns: auto;
    justify-content: center;
  }

  .gallery-modal .nav {
    background-image: none !important;
    mix-blend-mode: difference;
    opacity: 1 !important;
    position: absolute;
  }

  .gallery-modal .nav.next {
    right: 0;
  }

  .gallery-modal .nav.previous {
    left: 0;
  }

  .gallery-modal .nav:before {
    background-color: rgba(144, 144, 144, 0.5);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAzcHg7fTwvc3R5bGU+PGxpbmUgeDE9IjI0IiB5MT0iOCIgeDI9IjQ4IiB5Mj0iMzIiIC8+PGxpbmUgeDE9IjI0IiB5MT0iNTYiIHgyPSI0OCIgeTI9IjMyIiAvPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border-radius: 3rem;
    content: "";
    display: block;
    height: 3rem;
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.5rem);
    width: 3rem;
  }
}

@media (max-width: 1920px) {
}

@media (max-width: 1680px) {
  html {
    font-size: 13pt;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 13pt;
  }

  .gallery-modal .nav {
    opacity: 1 !important;
  }

  .gallery-modal .close {
    opacity: 1 !important;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12pt;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media (max-width: 736px) {
  html {
    font-size: 11pt;
  }

  #main > .inner {
    --padding-horizontal: 1.5rem;
    --padding-vertical: 5rem;
    --spacing: 1.875rem;
  }

  #hero-heading {
    letter-spacing: -0.21875rem;
    width: 100%;
    font-size: 5.5em;
    line-height: 0.875;
  }

  .gallery-modal .close {
    background-position: top 0.5rem right 0.5rem;
  }

  .frame {
    display: block;
  }

  #icons01 {
    font-size: 1.75em;
    gap: 0.875rem;
  }
}

@media (max-width: 480px) {
  #main > .inner {
    --spacing: 1.640625rem;
  }
}

@media (max-width: 360px) {
  #main > .inner {
    --padding-horizontal: 1.125rem;
    --padding-vertical: 3.75rem;
    --spacing: 1.40625rem;
  }

  #hero-heading {
    font-size: 5.5em;
  }

  #hero-description {
    font-size: 1em;
  }

  #gallery02 ul li .caption p {
    font-size: 1em;
  }

  #gallery02 ul {
    gap: 0.9375rem;
  }

  #icons01 {
    gap: 0.65625rem;
  }
}

.big-number,
.testimonial-picture {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px #aaaaaa;
}

.big-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  width: 2em;
  height: 2em;
  font-weight: 800;
}

.frame:nth-of-type(1) .big-number {
  color: #628b62;
  border-color: #b1d9b1;
  background-color: #f0faf0;
}

.frame:nth-of-type(2) .big-number {
  color: #5f678a;
  border-color: #b1c8d1;
  background-color: #e2eef3;
}

.frame:nth-of-type(3) .big-number {
  color: #8a5f81;
  border-color: #d1b1d0;
  background-color: #f3e2f3;
}

#cta {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 36px 0 0;
  margin: 36px 0;
}

#cta-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.section-heading {
  color: rgba(0, 0, 0, 0.35);
  text-shadow: 0 1px 0 white;
  width: 100%;
  font-size: 1em;
  line-height: 0.875;
  font-weight: 800;
  text-transform: uppercase;
  margin: 32px 0;
  text-align: center;
}

.testimonial-picture {
  height: 3.5rem;
  width: 3.5rem;
}

.testimonial-quote {
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 400;
}

.testimonial-author {
  font-size: 0.8em;
  line-height: 1.4;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
  text-decoration: none;
}

.button-52.button-artist:after {
  background-color: #ffe54c;
}

.button-52.button-host:after {
  background-color: #ff974c;
}

.button-52:after {
  content: "";
  background-color: #4cff67;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

footer {
  background: white;
  padding: 3em 2em;
  color: #8b8b8b;
  text-align: center;
}

blockquote {
  border-left: 2px solid #b6b6b6;
  padding-left: 10px;
  margin-left: 10px;
}

.infinite-carousel {
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
}

.infinite-carousel > * {
  flex: 0 0 100%;
}

.infinite-carousel .slide {
  width: 100%;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0 1px 0 black, 0 3px 6px rgba(0, 0, 0, 0.5);
  align-items: flex-end;
  width: 150px;
  height: 220px;
  background-size: cover;
  display: flex;
  border: 10px solid white;
}

.infinite-carousel .slide:nth-child(1) {
  background-image: url(../images/art-examples/teresa-j-sharp-mercys-pathway.jpeg);
}
.infinite-carousel .slide:nth-child(2) {
  background-image: url(../images/art-examples/santiago-palacio-half-dome.jpeg);
}
.infinite-carousel .slide:nth-child(3) {
  background-image: url(../images/art-examples/franka-m-gabler-bridalveil-and-spring-foliage.jpeg);
}
.infinite-carousel .slide:nth-child(4) {
  background-image: url(../images/art-examples/lisa-zylstra-el-capitan-in-color.jpeg);
}
.infinite-carousel .slide:nth-child(5) {
  background-image: url(../images/art-examples/lura-smith-juggler.jpeg);
}
.infinite-carousel .slide:nth-child(6) {
  background-image: url(../images/art-examples/melinda-abeles-el-cap-autumn.jpeg);
}
.infinite-carousel .slide:nth-child(7) {
  background-image: url(../images/art-examples/teresa-j-sharp-below-the-falls.jpeg);
}
.infinite-carousel .slide:nth-child(8) {
  background-image: url(../images/art-examples/franka-m-gabler-half-dome-and-merced-river.jpeg);
}
.infinite-carousel .slide:nth-child(9) {
  background-image: url(../images/art-examples/lisa-zylstra-walk-amount-the-giants.jpeg);
}
.infinite-carousel .slide:nth-child(10) {
  background-image: url(../images/art-examples/lura-smith-standing-stone.jpeg);
}
.infinite-carousel .slide:nth-child(11) {
  background-image: url(../images/art-examples/melinda-abeles-half-dome-color.jpeg);
}
.infinite-carousel .slide:nth-child(12) {
  background-image: url(../images/art-examples/franka-m-gabler-el-capitan-reflection.jpeg);
}
.infinite-carousel .slide:nth-child(13) {
  background-image: url(../images/art-examples/lura-smith-morning-radiance.jpeg);
}
.infinite-carousel .slide:nth-child(14) {
  background-image: url(../images/art-examples/melinda-abeles-yosemite-falls-2.jpeg);
}
.infinite-carousel .slide:nth-child(15) {
  background-image: url(../images/art-examples/teresa-j-sharp-yosemite-falls.jpeg);
}
.infinite-carousel .slide:nth-child(16) {
  background-image: url(../images/art-examples/lisa-zylstra-valley-shadows.jpeg);
}
.infinite-carousel .slide:nth-child(17) {
  background-image: url(../images/art-examples/teresa-j-sharp-harlequin-lupine.jpeg);
}
.infinite-carousel .slide:nth-child(18) {
  background-image: url(../images/art-examples/santiago-palacio-yosmite-falls.jpeg);
}
.infinite-carousel .slide:nth-child(19) {
  background-image: url(../images/art-examples/frank-m-gabler-misty-sunrise.jpeg);
}

.infinite-carousel:hover .group {
  animation-play-state: paused;
}

.infinite-carousel .group {
  --gap: 30px;
  will-change: transform;
  animation: scrolling 100s linear infinite;
  display: flex;
  gap: var(--gap);
  padding-right: var(--gap);
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
