<!DOCTYPE html>
<html>

<head>
  {% include google_analytics.html %}
  {% include fathom_analytics.html %}
  {% include posthog.html %}
  {% include bootstrap.html %}
  {% include google_fonts.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ page.title }} · Art Box
  </title>
  <link href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter:ital,wght@0,400;0,800;1,400;1,800" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap-utilities.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/normalize.css">
  <link rel="stylesheet" href="/style/bootstrap-utilities.css">
  <link rel="stylesheet" href="/style/style.css">
  <meta property="og:title" content="Art Box" />
  <meta property="og:url" content="https://localartbox.com" />
  <meta property="og:image" content="/images/example-1.jpg" />
  <meta property="og:description" content="A shoppable box of local art, available for you to take home from the comfort of your vacation." />
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand ab-impact" href="/">Art Box</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/artists/' %}active{% endif %}" {% if page.url == '/artists' %}aria-current="page" {% endif %} href="/artists">For Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" {% if page.url == '/about/' %}aria-current="page" {% endif %} href="/about">About Us</a>
          </li>
        </ul>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaWEZxXPZoucQVDPC7Pt8SuF5SKwltNlN_B5k2GZB7TF_ujw/viewform?usp=sf_link" target="_blank" class="btn btn-warning ab-impact" type="submit">Order a Box</a>
      </div>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer class="content-spaced">
    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfpfGzgEi7ks5on2peX6SI7CQNIpRPqAOZ7g8N4gPkZhADosQ/viewform?usp=sf_link" target="_blank">Customer Service</a> &middot;
      <a href="/returns">Returns</a>
    </p>

    <p>&copy; 2025 Art Box</p>
  </footer>
</body>

</html>